.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: -3.8px;
}

.SingleColorPalette .ColorBox {
  height: 50%;
}

.ColorBox.go-back {
  position: relative;
  background-color: black;
}

.copy-button,
.back-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
}

.copy-button {
  opacity: 0;
  transition: opacity 0.4s;
}

.ColorBox:hover .copy-button {
  opacity: 1;
}

.box-content {
  position: absolute;
  width: 100%;
  padding: 10px;
  left: 0;
  bottom: 0;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
}

.light-text {
  color: #fff;
}

.ColorBox .dark-text {
  color: #222;
}

.ColorBox .dark-bg {
  background: rgba(255, 255, 255, 0.5);
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  position: absolute;
  border: none;
  right: 0;
  bottom: 0;
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform: scale(0.1);
}

.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
}

.copy-msg {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  transform: scale(0.1);
  opacity: 0;
  color: #fff;
}

.copy-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
  transition: all 0.4s ease-in-out 0.3s;
}

.copy-msg h1 {
  font-weight: 400;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 1rem;
}

.copy-msg p {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
}
